@use "./variables/forward" as *;
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100;9..144,200;9..144,300;9..144,400;9..144,500;9..144,600;9..144,700;9..144,800;9..144,900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: Fraunces;
  font-size: 14px;

  @media screen and (min-width: 650px) {
    font-size: 16px;
  }
}

.container {
  width: inherit;
  height: inherit;
  display: grid;
  place-items: center;
  padding: 0 1rem;
  background-color: $Cream;
}

.card {
  border-radius: 1rem;
  overflow: hidden;
  background-color: $White;

  @media screen and (min-width: 650px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 40rem;
  }

  .card--img {
    .mImg {
      width: 100%;

      @media screen and (min-width: 650px) {
        display: none;
      }
    }

    .dImg {
      display: none;

      @media screen and (min-width: 650px) {
        display: grid;
        width: 100%;
        height: 100%;
      }
    }
  }

  .card--text {
    @media screen and (min-width: 650px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem;
    }

    padding: 1rem;

    .heading,
    .para,
    .price--before {
      font-family: Montserrat;
    }

    .heading {
      letter-spacing: 0.3em;
      font-weight: 500;
      color: $Dark-grayish-blue;
    }

    h1 {
      line-height: 1em;
      margin: 1rem 0;
    }
    .para {
      line-height: 1.5em;
      margin-bottom: 2rem;
      font-weight: 500;
      color: $Dark-grayish-blue;
    }
  }

  .price {
    display: flex;
    align-items: center;
    margin: 1rem 0;

    .price--current {
      font-size: 40px;
      font-weight: 700;
      color: $Dark-cyan;
    }

    .price--before {
      margin-left: 2rem;
      text-decoration: line-through;
    }
  }

  button {
    width: 100%;
    padding: 1em 0;
    border-radius: 0.5em;
    border: none;
    font-weight: 700;
    background-color: $Dark-cyan;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: 0.3s;
    color: $White;

    &:hover {
      background-color: $Dark-grayish-blue;
      transform: scale(0.95);
    }

    img {
      margin-right: 0.5rem;
    }
  }
}
